.background-green {
    background-color: rgb(107, 212, 86);
  }
  
  .white-text{
    color:white;
  }

  div.a{
      text-align: center;
  }
  
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: medium;
  }

  .distance{
      margin-right:220px;
  }

  .center{
    text-align: center;
  }